<h1 class="lesson-title">
	Angular Advanced.
</h1>
<div style="margin: 25px;display:flex;flex-direction: column;">
	<a routerLink="/lesson1" routerLinkActive="active">Directives and Pipes</a>
	<a routerLink="/lesson2-1" routerLinkActive="active">ReactiveForms + Validation</a>
	<a routerLink="/lesson3" routerLinkActive="active">Reactive_Programming</a>
	<a routerLink="/drag-n-drop" routerLinkActive="active">Drag&Drop</a>
	<a routerLink="/collection-viewer" routerLinkActive="active">Collection Viewer</a>
</div>
<router-outlet></router-outlet>