:host {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: block;
    margin:30px;
}

a{
    text-decoration: none;
}
a:hover{
    color:red;
}
.active{
    border-top:none;
    border-left: none;
    border-right:none;
    border-bottom: 2px solid  dodgerblue;
    color: dodgerblue;
    width: max-content;
}