<nav>
	<a routerLink="01_registration" routerLinkActive="active">01_registration</a><br />
	<a routerLink="02_registration" routerLinkActive="active">02_registration (validation)</a><br />
	<a routerLink="03_registration" routerLinkActive="active">03_registration (validation)</a><br />
	<a routerLink="04_registration" routerLinkActive="active">04_registration (validation messages)</a><br />
	<a routerLink="05_registration" routerLinkActive="active">05_registration (submit)</a><br />
	<a routerLink="01_custom-validator" routerLinkActive="active">01_custom-validator</a><br />
	<a routerLink="02_custom-validator" routerLinkActive="active">02_async-validator</a><br />
	<a routerLink="03_custom-validator" routerLinkActive="active">03_async-validator-dependency</a><br />
	<a routerLink="dynamic-form" routerLinkActive="active">DynamicForm</a><br />
	<a routerLink="autocomplete" routerLinkActive="active">Autocomplete</a><br />
	<a routerLink="layout-container" routerLinkActive="active">Layout Container</a><br />
</nav>

<div id="sample-panel">
	<router-outlet></router-outlet>
</div>